<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>  
  <appSettings>
    <add key="videoResolveTool" value="D:\youtube-dl.exe"/>
    <add key="downloadDir" value="D:\youku-download"/>
    <add key="ffmpegTool" value="D:\ffmpeg.exe"/>
    <add key="tempDir" value="D:\youku-download\temp"/>
  </appSettings>
  <nlog>
    <variable name="logDirectory" value="${basedir}/logs/"/>
    <targets>
      <target name="debug" type="File" fileName="${logDirectory}${shortdate}-debug.txt"/>
      <target name="info" type="File" fileName="${logDirectory}${shortdate}-info.txt"/>
      <target name="error" type="File" fileName="${logDirectory}${shortdate}-error.txt" layout="${longdate} ${message} ${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" />
      <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debug" />
      <logger name="*" minlevel="Error" maxlevel="Error" writeTo="error" />
    </rules>
  </nlog>
</configuration>